<style>
.nav {
    background: lightseagreen;
    color: white;
    height: 7vh;
    min-height:40px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}
</style>


<mat-toolbar class="nav">
    <a mat-button routerLink="">Home</a>
    <a mat-button routerLink="/ticket-submission">Ticket Submission</a>
</mat-toolbar>
<div class="content">
    
    

    <div class="header">

        <h1 class="headerText">Ironrod Health Ticketing System</h1>

    </div>
</div>